@using BUS
@model List<InfoApi>
@{
    var user = Session["user"] as User;
    var IsAdmin = (Role)user.Role == Role.Admin;
}

@section css{
    <link href="~/Content/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <link href="~/Content/css/select2.min.css" rel="stylesheet" />
    <style>
        #loading {
            display: none;
        }

            #loading .throbber {
                width: 23px;
                height: 23px;
                display: inline-block;
                -webkit-box-align: center;
                -webkit-align-items: center;
                -moz-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: center;
                -webkit-justify-content: center;
                -moz-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                display: inline-block;
                vertical-align: middle;
            }

        .throbber:after {
            display: inline-block;
            position: relative;
            width: 20px;
            height: 20px;
            -webkit-animation: rotate .6s linear infinite;
            -moz-animation: rotate .6s linear infinite;
            -ms-animation: rotate .6s linear infinite;
            -o-animation: rotate .6s linear infinite;
            animation: rotate .6s linear infinite;
            border-radius: 100%;
            border-top: 1px solid #545a6a;
            border-bottom: 1px solid #d4d4db;
            border-left: 1px solid #545a6a;
            border-right: 1px solid #d4d4db;
            content: '';
            opacity: .5;
        }

        h4 {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }


        @@keyframes rotate {
            0% {
                transform: rotateZ(-360deg);
                -webkit-transform: rotateZ(-360deg);
                -moz-transform: rotateZ(-360deg);
                -o-transform: rotateZ(-360deg)
            }

            100% {
                transform: rotateZ(0deg);
                -webkit-transform: rotateZ(0deg);
                -moz-transform: rotateZ(0deg);
                -o-transform: rotateZ(0deg)
            }
        }

        @@-webkit-keyframes rotate {
            0% {
                transform: rotateZ(-360deg);
                -webkit-transform: rotateZ(-360deg);
                -moz-transform: rotateZ(-360deg);
                -o-transform: rotateZ(-360deg)
            }

            100% {
                transform: rotateZ(0deg);
                -webkit-transform: rotateZ(0deg);
                -moz-transform: rotateZ(0deg);
                -o-transform: rotateZ(0deg)
            }
        }

        @@-moz-keyframes rotate {
            0% {
                transform: rotateZ(-360deg);
                -webkit-transform: rotateZ(-360deg);
                -moz-transform: rotateZ(-360deg);
                -o-transform: rotateZ(-360deg)
            }

            100% {
                transform: rotateZ(0deg);
                -webkit-transform: rotateZ(0deg);
                -moz-transform: rotateZ(0deg);
                -o-transform: rotateZ(0deg)
            }
        }

        @@-o-keyframes rotate {
            0% {
                transform: rotateZ(-360deg);
                -webkit-transform: rotateZ(-360deg);
                -moz-transform: rotateZ(-360deg);
                -o-transform: rotateZ(-360deg)
            }

            100% {
                transform: rotateZ(0deg);
                -webkit-transform: rotateZ(0deg);
                -moz-transform: rotateZ(0deg);
                -o-transform: rotateZ(0deg)
            }
        }
    </style>
}

@section js{

    <script src="~/Content/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="~/Content/js/select2.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#selectAPI').select2({multiple:true});
        });
        var start = moment();
    var end = moment();
    $(function() {


        function cb(start, end) {
            $('#reportrange span').html(start.format('DD/MM/YYYY') + ' - ' + end.format('DD/MM/YYYY'));
        }

        $('#reportrange').daterangepicker({
            startDate: start,
            endDate: end,
            ranges: {
               'Today': [moment(), moment()],
               'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
               'Last 7 Days': [moment().subtract(6, 'days'), moment()],
               'Last 30 Days': [moment().subtract(29, 'days'), moment()],
               'This Month': [moment().startOf('month'), moment().endOf('month')],
               'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            }
        }, cb);

        cb(start, end);

    });

        function GetDataFromApiAdmin(ele){
            $(ele).prop("disabled",true);
            var selectedAPI = $('#selectAPI').val();
            $('#loading').show();
             $.ajax({
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                cache: false,
                async: false,
                url: '/Home/GetData',
                data: JSON.stringify({
                    ListSelected: selectedAPI,
                    start: start.format('YYYY-MM-DD'),
                    end: end.format('YYYY-MM-DD'),
                }),
                success: function (data) {
                    if (data.Status == -1) {
                        alert(data.Msg);
                    }
                    else {
                        console.log(data.Msg);
                        //location.reload(false);
                        //window.location.href = '/';
                    }
                },
                fail: function (xhr, textStatus, errorThrown) {
                    alert('Đã xảy ra lỗi, vui lòng thử lại sau.');
                },
                complete: function (xhr, textStatus, errorThrown) {
                    $('#loading').hide();
                    $(ele).prop("disabled",false);
                }
            });


        }
    </script>



}



<div class="right_col" role="main" style="min-height: 3539px;">
    @if ((Model == null || Model.Count == 0))
    {
        <div class="">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 alert alert-danger">
                    @if (user.Role == (int)Role.User)
                    {
                        @:Tài khoản này chưa được khai báo thông tin API, vui lòng liên hệ Admin để được khai báo.
                    }
                    else
                    {
                        @:Danh sách API chưa có, vui lòng khai báo trước.
                    }
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h3>Chọn ngày bắt đầu và kết thúc</h3>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content form-horizontal">
                            @if (IsAdmin)
                            {
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12" for="last-name">
                                        Chọn API
                                    </label>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <select id="selectAPI" class="form-control col-md-7 col-xs-12 text-box single-line">
                                            @foreach (var item in Model)
                                            {
                                                <option value="@item.InfoApiId">@item.InfoApiId - @((API)item.TypeAPI)</option>
                                            }
                                        </select>
                                        <small class="text text-primary">*Không chọn API nào sẽ lấy tất cả</small>
                                    </div>
                                </div>
                            }
                            <div class="form-group">
                                <label class="control-label col-md-2 col-sm-2 col-xs-12" for="last-name">
                                    Chọn thời gian
                                </label>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
                                        <i class="fa fa-calendar"></i>&nbsp;
                                        <span></span> <i class="fa fa-caret-down" style="float: right;"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <button type="button" style="margin-bottom: -2px;" class="btn btn-success" onclick="return GetDataFromApi@(IsAdmin ? "Admin" : "")(this);">Xác nhận</button>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div id="loading">
                            <span class="throbber"></span> Đang xử lý, vui lòng chờ
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="">
            <div class="clearfix"></div>
            @foreach (var item in Model)
            {
                <div class="row hide" id="api_@item.InfoApiId">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h4>ID: @item.InfoApiId - Server: @((API)item.TypeAPI) - Inventory/App: @item.Container</h4>
                                <div class="clearfix"></div>
                                @if (IsAdmin)
                                {
                                    <h5>Token: @item.Token @((API)item.TypeAPI == API.Appodeal ? "- UserId: " + item.UserId : "")</h5>
                                }
                            </div>
                            <div class="x_content">
                                <table id="listing" class="table table-striped table-bordered bulk_action">
                                    <thead>
                                        <tr>
                                            @if (IsAdmin)
                                            {
                                                <th>CountryCode</th>
                                                <th>Impression</th>
                                                <th>Click</th>
                                                <th>Fillrate</th>
                                                <th>Revenues</th>
                                                <th>CTR</th>
                                            }
                                            else
                                            {
                                                <th>CountryCode</th>
                                                if (item.Impression == 1)
                                                {
                                                    <th>Impression</th>
                                                }
                                                if (item.Click == 1)
                                                {
                                                    <th>Click</th>
                                                }
                                                if (item.Fillrate == 1)
                                                {
                                                    <th>Fillrate</th>
                                                }
                                                if (item.Revenues == 1)
                                                {
                                                    <th>Revenues</th>
                                                }
                                                if (item.CTR == 1)
                                                {
                                                    <th>CTR</th>
                                                }
                                            }
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }

</div>

