@using BUS
@model User
@{
    var user = Session["user"] as User;
    var ListAPI = ViewBag.ListApi as List<InfoApi>;
}

@section css{
    
    <style>
        .checkbox-size{
            width: 20px;
            height: 20px;
        }
    
        .form-horizontal .nope .control-label{
            padding-top: 0;
        }
    </style>
}

@section js{
    <script>
        function Confirm(text, event) {
            var r = confirm(text);
            if (r == false) {
                event.preventDefault();
            }
        }
        $(document).ready(function () {
            $('#TypeAPI').change(function () {
                if ($(this).val() == 0) {
                    $('#useridapi').show();
                }
                else {
                    $('#useridapi').hide();
                }
            })
            $('#eTypeAPI').change(function () {
                if ($(this).val() == 0) {
                    $('#euseridapi').show();
                }
                else {
                    $('#euseridapi').hide();
                }
            })
        });
        function updateUser() {
            //var username = $('#UserName').val();
            var password = $('#Password').val();
            var cpassword = $('#ConfirmPassword').val();
            var userMsg = $('#userMsg').text('');
            var passMsg = $('#passMsg').text('');
            var cpassMsg = $('#cpassMsg').text('');
            var flag = false;
            
            //if (!username) {
            //    userMsg.text("Vui lòng nhập tài khoản.");
            //    flag = true;
            //}
            if (!password && cpassword) {
                passMsg.text("Vui lòng nhập mật khẩu.");
                flag = true;
            }
            if (!cpassword && password) {
                cpassMsg.text("Vui lòng xác nhận lại mật khẩu.");
                flag = true;
            }
            if (flag) {
                return;
            }
            if (password != cpassword) {
                cpassMsg.text("Xác nhận mật khẩu không đúng.");
                return;
            }
            $.ajax({
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                cache: false,
                async: false,
                url: '/Login/UpdateUserByAdmin',
                data: JSON.stringify({ password: password, UserId: parseInt($('#UserId').val()), Role: parseInt($('#Role').val()) }),
                success: function (data) {
                    if (data.Status == -1) {
                        userMsg.text(data.Msg);
                    }
                    else {
                        alert('Đã cập nhật tài khoản thành công.');
                        location.reload(false);
                        //window.location.href = '/';
                    }
                },
                fail: function (xhr, textStatus, errorThrown) {
                    alert('Đã xảy ra lỗi, vui lòng thử lại sau.');
                }
            });
        }

        function createAPI() {
            //var username = $('#UserName').val();
            var TypeAPI = $('#TypeAPI').val();
            var Token = $('#Token').val();
            var UserIdAPI = $('#UserIdAPI').val();
            var Container = $('#Container').val();
            
            var tokenMsg = $('#tokenMsg').text('');
            var userIdApiMsg = $('#userIdApiMsg').text('');
            var containerMsg = $('#containerMsg').text('');
            var flag = false;

            //if (!username) {
            //    userMsg.text("Vui lòng nhập tài khoản.");
            //    flag = true;
            //}
            if (!Token) {
                tokenMsg.text("Vui lòng nhập Token.");
                flag = true;
            }
            if (!Container) {
                containerMsg.text("Vui lòng nhập Inventory/App.");
                flag = true;
            }
            if (!UserIdAPI && TypeAPI == 0) {
                userIdApiMsg.text("Vui lòng nhập User ID của Appodeal.");
                flag = true;
            }
            else if (TypeAPI == 1){
                UserIdAPI = 0;
            }
            if (flag) {
                return;
            }
            var UserId = $('#UserId').val();
            $.ajax({
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                cache: false,
                async: false,
                url: '/Login/AddAPI',
                data: JSON.stringify({
                    UserId: UserId,
                    TypeAPI : TypeAPI,
                    Token : Token,
                    UserIdApi : UserIdAPI,
                    Container : Container,
                    Impression : $('#Impression').is(':checked') ? 1 : 0,
                    Click : $('#Click').is(':checked') ? 1 : 0,
                    CTR : $('#CTR').is(':checked') ? 1 : 0,
                    Revenues : $('#Revenues').is(':checked') ? 1 : 0,
                    Fillrate : $('#Fillrate').is(':checked') ? 1 : 0
                }),
                success: function (data) {
                    if (data.Status == -1) {
                        alert(data.Msg);
                    }
                    else {
                        alert('Đã tạo API thành công.');
                        reloadLisstApi(UserId);
                        //location.reload(false);
                        //window.location.href = '/';
                    }
                },
                fail: function (xhr, textStatus, errorThrown) {
                    alert('Đã xảy ra lỗi, vui lòng thử lại sau.');
                }
            });
        }

        function reloadLisstApi() {
            $.ajax({
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                cache: false,
                async: false,
                url: '/Login/ListApi',
                data: JSON.stringify({
                    UserId: $('#UserId').val(),
                }),
                success: function (data) {
                    if (data.Status == -1) {
                        alert(data.Msg);
                    }
                    else {
                        $('#listing tbody').html(data.Msg);
                    }
                },
                fail: function (xhr, textStatus, errorThrown) {
                    alert('Đã xảy ra lỗi, vui lòng thử lại sau.');
                }
            });
        }

        function getApi(InfoApiId) {
            $.ajax({
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                cache: false,
                async: false,
                url: '/Login/GetAPI',
                data: JSON.stringify({
                    InfoApiId: InfoApiId,
                }),
                success: function (data) {
                    if (data.Status == -1) {
                        alert(data.Msg);
                    }
                    else {
                        //console.log(data.Msg);
                        var res = JSON.parse(data.Msg);
                        $('#eInfoApiId').val(res.InfoApiId);
                        $('#eTypeAPI').val(res.TypeAPI);
                        $('#eToken').val(res.Token);
                        $('#eUserIdAPI').val(res.UserIdApi);
                        if (res.TypeAPI == 0)
                            $('#euseridapi').show();
                        else
                            $('#euseridapi').hide();
                            
                        $('#eContainer').val(res.Container);
                        if (res.Impression == 1)
                            $('#eImpression').prop('checked', true);
                        else 
                            $('#eImpression').prop('checked', false);

                        if (res.Click == 1)
                            $('#eClick').prop('checked', true);
                        else
                            $('#eClick').prop('checked', false);
                        if (res.CTR == 1)
                            $('#eCTR').prop('checked', true);
                        else
                            $('#eCTR').prop('checked', false);
                        if (res.Revenues == 1)
                            $('#eRevenues').prop('checked', true);
                        else
                            $('#eRevenues').prop('checked', false);
                        if (res.Fillrate == 1)
                            $('#eFillrate').prop('checked', true);
                        else
                            $('#eFillrate').prop('checked', false);
                        $('.editapi').modal({ backdrop: true, show: true });
                        $('.editapi').data('bs.modal').options.backdrop = 'static';
                    }
                },
                fail: function (xhr, textStatus, errorThrown) {
                    alert('Đã xảy ra lỗi, vui lòng thử lại sau.');
                }
            });
        }

        function editAPI() {
            //var username = $('#UserName').val();
            var TypeAPI = $('#eTypeAPI').val();
            var Token = $('#eToken').val();
            var UserIdAPI = $('#eUserIdAPI').val();
            var Container = $('#eContainer').val();

            var tokenMsg = $('#etokenMsg').text('');
            var userIdApiMsg = $('#euserIdApiMsg').text('');
            var containerMsg = $('#econtainerMsg').text('');
            var flag = false;

            //if (!username) {
            //    userMsg.text("Vui lòng nhập tài khoản.");
            //    flag = true;
            //}
            if (!Token) {
                tokenMsg.text("Vui lòng nhập Token.");
                flag = true;
            }
            if (!Container) {
                containerMsg.text("Vui lòng nhập Inventory/App.");
                flag = true;
            }
            if (!UserIdAPI && TypeAPI == 0) {
                userIdApiMsg.text("Vui lòng nhập User ID của Appodeal.");
                flag = true;
            }
            else if (TypeAPI == 1) {
                UserIdAPI = 0;
            }
            if (flag) {
                return;
            }
            var UserId = $('#UserId').val();
            $.ajax({
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                cache: false,
                async: false,
                url: '/Login/EditAPI',
                data: JSON.stringify({
                    InfoApiId: $('#eInfoApiId').val(),
                    TypeAPI: TypeAPI,
                    Token: Token,
                    UserIdApi: UserIdAPI,
                    Container: Container,
                    Impression: $('#eImpression').is(':checked') ? 1 : 0,
                    Click: $('#eClick').is(':checked') ? 1 : 0,
                    CTR: $('#eCTR').is(':checked') ? 1 : 0,
                    Revenues: $('#eRevenues').is(':checked') ? 1 : 0,
                    Fillrate: $('#eFillrate').is(':checked') ? 1 : 0
                }),
                success: function (data) {
                    if (data.Status == -1) {
                        alert(data.Msg);
                    }
                    else {
                        alert('Đã cập nhật API thành công.');
                        reloadLisstApi(UserId);
                        //location.reload(false);
                        //window.location.href = '/';
                    }
                },
                fail: function (xhr, textStatus, errorThrown) {
                    alert('Đã xảy ra lỗi, vui lòng thử lại sau.');
                }
            });
        }


        function showChangeInfo(e) {
            $(e).hide();
            $("#Info").toggleClass('hide');
        }

    </script>
}

    <div class="right_col" role="main" style="min-height: 3539px;">
        <div class="">
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Thông tin tài khoản @*<small>different form elements</small>*@</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content form-horizontal">
                            <br>
                            <div class="form-group">
                                @Html.HiddenFor(x => x.UserId)
                                <label class="control-label col-md-2 col-sm-2 col-xs-12" for="last-name">
                                    Tên đăng nhập
                                </label>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <input class="form-control col-md-7 col-xs-12 text-box single-line" disabled="disabled" required="required" type="text" value="@(Model.UserName)">
                                    <small class="text text-danger" id="userMsg"></small>
                                </div>
                                <label class="control-label col-md-2 col-sm-2 col-xs-12" for="last-name">
                                    Loại tài khoản
                                </label>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <input class="form-control col-md-7 col-xs-12 text-box single-line" disabled="disabled" required="required" type="text" value="@((Role)Model.Role)">
                                    <small class="text text-danger" id="userMsg"></small>
                                </div>
                            </div>
                            @*<div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <a href="javascript:" class="btn btn-primary" onclick="return showChangeInfo(this);">Đổi thông tin</a>
                                </div>
                            </div>*@
                            <div id="Info">
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12" for="last-name">
                                        Mật khẩu
                                    </label>
                                    <div class="col-md-4 col-sm-4 col-xs-6">
                                        <input class="form-control col-md-7 col-xs-12 text-box single-line" id="Password" name="Password" required="required" type="password" value="">
                                        <small class="text text-danger" id="passMsg"></small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12" for="last-name">
                                        Nhập lại mật khẩu
                                    </label>
                                    <div class="col-md-4 col-sm-4 col-xs-6">
                                        <input class="form-control col-md-7 col-xs-12 text-box single-line" id="ConfirmPassword" name="ConfirmPassword" required="required" type="password" value="">
                                        <small class="text text-danger" id="cpassMsg"></small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12" for="last-name">
                                        Loại tài khoản
                                    </label>
                                    <div class="col-md-4 col-sm-4 col-xs-6">
                                        <select class="form-control" id="Role">
                                            <option value="0" @(Model.Role == 0 ? "selected" : "")>Người dùng</option>
                                            <option value="1" @(Model.Role == 1 ? "selected" : "")>Admin</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                        <a href="javascript:" class="btn btn-success" onclick="return updateUser();">Xác nhận</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>User</h3>
                </div>
            </div>

            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Danh sách thông tin API</h2>
                            <div class="clearfix"></div>
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target=".addapi" data-backdrop="static">Thêm API</button>
                        </div>
                        <div class="x_content">
                            <table id="listing" class="table table-striped table-bordered bulk_action">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Server</th>
                                        <th>Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (ListAPI != null && ListAPI.Any())
                                    {
                                        foreach (var item in ListAPI)
                                        {
                                            <tr>
                                                <td>@item.InfoApiId</td>
                                                <td>@((API)item.TypeAPI)</td>
                                                <td><button type="button" class="btn btn-primary" onclick="return getApi(@item.InfoApiId)">Thông tin</button><a onclick="return Confirm('Bạn có chắc muốn xoá?');" href="~/Login/DelAPI?InfoApiId=@item.InfoApiId" class="btn btn-danger" >Xoá</a></td>
                                            </tr>
                                        }

                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="modal fade addapi in" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Thêm thông tin API</h4>
                </div>
                <div class="modal-body form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="last-name">
                            API
                        </label>
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <select class="form-control" id="TypeAPI">
                                <option value="0">Appodeal</option>
                                <option value="1">Adincube</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="last-name">
                            API Token <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input class="form-control col-md-7 col-xs-12 text-box single-line" id="Token" name="Token" required="required" type="text" value="">
                            <small class="text text-danger" id="tokenMsg"></small>
                        </div>
                    </div>
                    <div class="form-group" id="useridapi">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="last-name">
                            User Id <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input class="form-control col-md-7 col-xs-12 text-box single-line" id="UserIdAPI" name="UserIdAPI" required="required" type="number" value="">
                            <small class="text text-danger" id="userIdApiMsg"></small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="last-name">
                            Inventory/App <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input class="form-control col-md-7 col-xs-12 text-box single-line" id="Container" name="Container" required="required" type="text" value="">
                            <small class="text text-danger" id="containerMsg"></small>
                        </div>
                    </div>
                    <div class="form-group nope">
                        <label class="control-label col-md-2 col-sm-2 col-xs-6" for="last-name">
                            Impression
                        </label>
                        <div class="col-md-1 col-sm-1 col-xs-6">
                            <input class="checkbox-size" id="Impression" name="Impression" required="required" type="checkbox" value="">
                        </div>
                        <label class="control-label col-md-2 col-sm-2 col-xs-6" for="last-name">
                            Click
                        </label>
                        <div class="col-md-1 col-sm-1 col-xs-6">
                            <input class="checkbox-size" id="Click" name="Click" required="required" type="checkbox" value="">
                        </div>
                        <label class="control-label col-md-2 col-sm-2 col-xs-6" for="last-name">
                            Revenues
                        </label>
                        <div class="col-md-1 col-sm-1 col-xs-6">
                            <input class="checkbox-size" id="Revenues" name="Revenues" required="required" type="checkbox" value="">
                        </div>
                        <label class="control-label col-md-2 col-sm-2 col-xs-6" for="last-name">
                            Fillrate
                        </label>
                        <div class="col-md-1 col-sm-1 col-xs-6">
                            <input class="checkbox-size" id="Fillrate" name="Fillrate" required="required" type="checkbox" value="">
                        </div>
                        <label class="control-label col-md-2 col-sm-2 col-xs-6" for="last-name">
                            CTR
                        </label>
                        <div class="col-md-1 col-sm-1 col-xs-6">
                            <input class="checkbox-size" id="CTR" name="CTR" required="required" type="checkbox" value="">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary" onclick="return createAPI()">Xác nhận</button>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade editapi in" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Sửa thông tin API</h4>
                </div>
                <div class="modal-body form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="last-name">
                            ID API
                        </label>
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <input class="form-control col-md-7 col-xs-12 text-box single-line" id="eInfoApiId" name="eInfoApiId" required="required" disabled type="text" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="last-name">
                            API
                        </label>
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <select class="form-control" id="eTypeAPI">
                                <option value="0">Appodeal</option>
                                <option value="1">Adincube</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="last-name">
                            API Token <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input class="form-control col-md-7 col-xs-12 text-box single-line" id="eToken" name="Token" required="required" type="text" value="">
                            <small class="text text-danger" id="etokenMsg"></small>
                        </div>
                    </div>
                    <div class="form-group" id="euseridapi">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="last-name">
                            User Id <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input class="form-control col-md-7 col-xs-12 text-box single-line" id="eUserIdAPI" name="eUserIdAPI" required="required" type="number" value="">
                            <small class="text text-danger" id="euserIdApiMsg"></small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="last-name">
                            Inventory/App <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input class="form-control col-md-7 col-xs-12 text-box single-line" id="eContainer" name="eContainer" required="required" type="text" value="">
                            <small class="text text-danger" id="econtainerMsg"></small>
                        </div>
                    </div>
                    <div class="form-group nope">
                        <label class="control-label col-md-2 col-sm-2 col-xs-6" for="last-name">
                            Impression
                        </label>
                        <div class="col-md-1 col-sm-1 col-xs-6">
                            <input class="checkbox-size" id="eImpression" name="eImpression" required="required" type="checkbox" value="">
                        </div>
                        <label class="control-label col-md-2 col-sm-2 col-xs-6" for="last-name">
                            Click
                        </label>
                        <div class="col-md-1 col-sm-1 col-xs-6">
                            <input class="checkbox-size" id="eClick" name="eClick" required="required" type="checkbox" value="">
                        </div>
                        <label class="control-label col-md-2 col-sm-2 col-xs-6" for="last-name">
                            Revenues
                        </label>
                        <div class="col-md-1 col-sm-1 col-xs-6">
                            <input class="checkbox-size" id="eRevenues" name="eRevenues" required="required" type="checkbox" value="">
                        </div>
                        <label class="control-label col-md-2 col-sm-2 col-xs-6" for="last-name">
                            Fillrate
                        </label>
                        <div class="col-md-1 col-sm-1 col-xs-6">
                            <input class="checkbox-size" id="eFillrate" name="eFillrate" required="required" type="checkbox" value="">
                        </div>
                        <label class="control-label col-md-2 col-sm-2 col-xs-6" for="last-name">
                            CTR
                        </label>
                        <div class="col-md-1 col-sm-1 col-xs-6">
                            <input class="checkbox-size" id="eCTR" name="CTR" required="required" type="checkbox" value="">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary" onclick="return editAPI()">Xác nhận</button>
                </div>

            </div>
        </div>
    </div>