@using BUS
@model User
@{
    var user = Session["user"] as User;
}

@section css{
    

}

@section js{
    <script>
        function updateUser() {
            //var username = $('#UserName').val();
            var password = $('#Password').val();
            var cpassword = $('#ConfirmPassword').val();
            var userMsg = $('#userMsg').text('');
            var passMsg = $('#passMsg').text('');
            var cpassMsg = $('#cpassMsg').text('');
            var flag = false;
            
            //if (!username) {
            //    userMsg.text("Vui lòng nhập tài khoản.");
            //    flag = true;
            //}
            if (!password && cpassword) {
                passMsg.text("Vui lòng nhập mật khẩu.");
                flag = true;
            }
            if (!cpassword && password) {
                cpassMsg.text("Vui lòng xác nhận lại mật khẩu.");
                flag = true;
            }
            if (flag) {
                return;
            }
            if (password != cpassword) {
                cpassMsg.text("Xác nhận mật khẩu không đúng.");
                return;
            }
            $.ajax({
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                cache: false,
                async: false,
                url: '/Login/UpdateUserByAdmin',
                data: JSON.stringify({ password: password, UserId: parseInt($('#UserId').val()), Role: parseInt($('#Role').val()) }),
                success: function (data) {
                    if (data.Status == -1) {
                        userMsg.text(data.Msg);
                    }
                    else {
                        alert('Đã cập nhật tài khoản thành công.');
                        location.reload(false);
                        //window.location.href = '/';
                    }
                },
                fail: function (xhr, textStatus, errorThrown) {
                    alert('Đã xảy ra lỗi, vui lòng thử lại sau.');
                }
            });
        }

        function showChangeInfo(e) {
            $(e).hide();
            $("#Info").toggleClass('hide');
        }
    </script>
}

    <div class="right_col" role="main" style="min-height: 3539px;">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Thông tin tài khoản</h3>
                </div>

                @*<div class="title_right">
                    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Go!</button>
                            </span>
                        </div>
                    </div>
                </div>*@
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Thông tin tài khoản @*<small>different form elements</small>*@</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content form-horizontal">
                            <br>
                            <div class="form-group">
                                @Html.HiddenFor(x => x.UserId)
                                <label class="control-label col-md-2 col-sm-2 col-xs-12" for="last-name">
                                    Tên đăng nhập
                                </label>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <input class="form-control col-md-7 col-xs-12 text-box single-line" disabled="disabled" required="required" type="text" value="@(Model.UserName)">
                                    <small class="text text-danger" id="userMsg"></small>
                                </div>
                                <label class="control-label col-md-2 col-sm-2 col-xs-12" for="last-name">
                                    Loại tài khoản
                                </label>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <input class="form-control col-md-7 col-xs-12 text-box single-line" disabled="disabled" required="required" type="text" value="@(Model.Role == 1 ? "Admin" : "Người dùng")">
                                    <small class="text text-danger" id="userMsg"></small>
                                </div>
                            </div>
                            @*<div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <a href="javascript:" class="btn btn-primary" onclick="return showChangeInfo(this);">Đổi thông tin</a>
                                </div>
                            </div>*@
                            <div id="Info">
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12" for="last-name">
                                        Mật khẩu
                                    </label>
                                    <div class="col-md-4 col-sm-4 col-xs-6">
                                        <input class="form-control col-md-7 col-xs-12 text-box single-line" id="Password" name="Password" required="required" type="password" value="">
                                        <small class="text text-danger" id="passMsg"></small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12" for="last-name">
                                        Nhập lại mật khẩu
                                    </label>
                                    <div class="col-md-4 col-sm-4 col-xs-6">
                                        <input class="form-control col-md-7 col-xs-12 text-box single-line" id="ConfirmPassword" name="ConfirmPassword" required="required" type="password" value="">
                                        <small class="text text-danger" id="cpassMsg"></small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12" for="last-name">
                                        Loại tài khoản
                                    </label>
                                    <div class="col-md-4 col-sm-4 col-xs-6">
                                        <select class="form-control" id="Role">
                                            <option value="0" @(Model.Role == 0 ? "selected" : "")>Người dùng</option>
                                            <option value="1" @(Model.Role == 1 ? "selected" : "")>Admin</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                        <a href="javascript:" class="btn btn-success" onclick="return updateUser();">Xác nhận</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>User</h3>
                </div>
            </div>

            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Danh sách thông tin API</h2>
                            <div class="clearfix"></div>
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target=".addapi" data-backdrop="static">Thêm API</button>
                        </div>
                        <div class="x_content">
                            <table id="listing" class="table table-striped table-bordered bulk_action">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Server</th>
                                        <th>Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody>
                                   
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="modal fade addapi in" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    <h4>Text in a modal</h4>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                    <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>

            </div>
        </div>
    </div>